/* Dropdown Button */
.numero {
    background-color: #ddd;
    color: black;
    font-size: 2em;
    border: none;
    cursor: pointer;
    width: 2em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    text-align: center;
  }

  .tabella{
    border-collapse: collapse;
    border: grey dotted 1px;

  }
  
  .semaforo{
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: red;
    border: thin black;
    border-radius: 50%;
    display: inline-block;
  }

  .semaforo-verde{
    background-color: green;
  }

  .bottone{
    border-radius: 0%;
    font-size: 30px;
  }